@model GAPMVCUI.Models.ComplaintViewModel

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h6>@Html.DisplayNameFor(Model => Model.Category_Of_Crime)  : <span>@Model.Category_Of_Crime</span></h6>
                <h6>@Html.DisplayNameFor(Model => Model.Incident_Date_And_Time) :  <span>@Model.Incident_Date_And_Time</span></h6>
            </div>
            <div class="card-body">
                <h6>@Html.DisplayNameFor(Model => Model.Suspect_Name)  : <span>@Model.Suspect_Name</span></h6>
                <h6>@Html.DisplayNameFor(Model => Model.Details)  : <span>@Model.Details</span></h6>
                <h6>@Html.DisplayNameFor(Model => Model.City)  : <span>@Model.City</span></h6>
                <h6>@Html.DisplayNameFor(Model => Model.State)  : <span>@Model.State</span></h6>
                <h6>@Html.DisplayNameFor(Model => Model.Information_Source) :  <span>@Model.Information_Source</span></h6>
                <h6 class="card-text">@Html.DisplayNameFor(Model => Model.Additional_Information)     : <span>@Model.Additional_Information</span></h6>
            </div>

           
        </div>
    </div>
</div> 